.vscode/settings.json
data/2022 Grand List.pdf
data/2023 GRAND LIST.pdf
data/edu-FY24-Cohort-Spending-by-School-Type-v02-web.xlsx
data/extra_villages.json
data/FY24_25_tax_rates.xlsx
data/FY25EdTaxRates_072424_Web_Flat.xlsx
data/Grand List Calculations.ipynb
data/HS-122 2024 PTC Calculator_1.xls
data/PM2082-16U.pdf
data/school_districts.geojson
data/statewide_grand_list_2023.csv
data/statewide_grand_list_2023.xlsx
data/towns_vt.geojson
data/.ipynb_checkpoints/Grand List Calculations-checkpoint.ipynb
utilities/HS-122 2024 PTC Calculator_1.xls
data/FY24_25_tax_rates_forflourish.csv
data/FY24_25_tax_rates_forflourish.xlsx
